[submodule "account-details"]
	path = account-details
	url = https://github.com/sohelsutriya/account-details
[submodule "fund-transfer"]
	path = fund-transfer
	url = https://github.com/sohelsutriya/fund-transfer
[submodule "login"]
	path = login
	url = https://github.com/sohelsutriya/login
[submodule "services"]
	path = services
	url = https://github.com/sohelsutriya/services
[submodule "transactions"]
	path = transactions
	url = https://github.com/sohelsutriya/transactions
[submodule "userDetails"]
	path = userDetails
	url = https://github.com/sohelsutriya/userDetails
